/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  #264653 dark blue
  #2A9D8F light blue
  #E8E4B4 yellow
  #E9C46A orange
  #E76F51 red
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/
.portfolio-title h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #E76F51;
}

.portfolio-title {
    margin-bottom: 0px;
    padding: 0px;
}