/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  #264653 dark blue
  #2A9D8F light blue
  #E8E4B4 yellow
  #E9C46A orange
  #E76F51 red
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/
.portfolio-title h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #E76F51;
}

.portfolio-title {
    margin-bottom: 0px;
    padding: 0px;
}

.portfolio-title .portfolio-detail-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #E76F51;
}

.portfolio .portfolio-detail-wrap h3 {
    color: #E9C46A;
    font-size: 28px;
    text-align: center;
}

.portfolio .portfolio-detail-wrap p {
    text-align: justify;
}