/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  #264653 dark blue
  #2A9D8F light blue
  #E8E4B4 yellow
  #E9C46A orange
  #E76F51 red
--------------------------------------------------------------*/

body {
  font-family: "Helvetica", sans-serif;
  color: #E8E4B4;
}

a {
  color: #E9C46A;
  text-decoration: none;
}

a:hover {
  color: #E76F51;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #264653;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #E8E4B4;
  line-height: 0;
}

.back-to-top:hover {
  background: #2A9D8F;
  color: #E76F51;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.2s;
    z-index: 9997;
    transition: all 0.2s;
    padding: 0 15px;
    background: #264653;
    overflow-y: auto;
    border-right: 1px solid #E76F51;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #E9C46A;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #E76F51;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background: none;
    color: #E8E4B4;
    line-height: 1;
    padding: 6px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #E76F51;
  }
  
  #header .profile .social-links a:hover {
    background: #E76F51;
    color: #E8E4B4;
    text-decoration: none;
    
  }
  
  #main {
    margin-left: 300px;
  }
  
  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding: 30px 0 0 0;
    /* left: 0; Align to the left */
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    text-align: lef;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    /* padding: 2px 5px; */
    justify-content: center; /* Add this line */
    color: #E9C46A;
    padding: 8px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 20px;
  }
  

  .nav-menu a i,
  .nav-menu a:focus i {
    
    padding-top: 0; /* Set padding to 0 */
    font-size: 28px;
    padding-right: 8px;
    color: #E9C46A;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #E76F51;
    border-left: #E76F51 solid 5px;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #E76F51;
    
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #E9C46A;
    color: #2A9D8F;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/PP-de-dos.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(38, 70, 83, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;
  color: #E76F51;
  z-index: 9997;
}

#hero p {
  font-weight: bold;
  color: #E9C46A;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  z-index: 9997;
}

#hero p span {
  font-weight: bold;
  color: #E9C46A;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #2A9D8F;
  z-index: 9997;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero p {
    font-size: 24px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}



.section-bg {
  background: #264653;
}


.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #E9C46A;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #2A9D8F;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/* hr {
  border: none;
  border-top: 1px solid #2A9D8F; 
  color: #2A9D8F;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 50%; 
} */
 
 
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #E9C46A;
}


.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #E76F51;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about button {
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 0;
  color: #E8E4B4;
  background: #2A9D8F;
  border: 2px solid #2A9D8F;
  margin-top: 20px;

}


/*--------------------------------------------------------------
# HardSkills
--------------------------------------------------------------*/
.hardSkills {
  padding-bottom: 30px;
}

.hardSkills .count-box {
  padding: 15px;
  width: 100%;
  /* float: left; */
  font-size: 50px;
}

.hardSkills .count-box i {
  /* display: flex; */
  color: #E8E4B4;
  /* float: left; */
  line-height: 0;
}

.hardSkills .count-box span {
  /* font-size: 44px; */
  line-height: 40px;
  /* display: flex; */
  font-weight: 700;
  color: #E9C46A;
  margin: 0 15px 0 0;
  /* margin-right: 60px; */
}

.hardSkills .count-box .unit {
  /* display: flex; */
  /* font-size: 44px; */
  color: #E8E4B4;
  /* float: right; */
  line-height: 40px;
  margin: 0;
}

.hardSkills .count-box p {
  padding: 15px 0 15px 0;
  margin: 0 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #E8E4B4;
}

.hardSkills .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #E76F51;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.hardSkills .count-box a:hover {
  color: #E76F51;
}


/*--------------------------------------------------------------
# Curriculum
--------------------------------------------------------------*/
.curriculum {
  padding-bottom: 30px;
}

.curriculum .count-box {
  padding: 15px;
  width: 100%;
  /* float: left; */
  font-size: 50px;
}

.curriculum .count-box i {
  /* display: flex; */
  color: #E8E4B4;
  /* float: left; */
  line-height: 0;
}

.curriculum .count-box span {
  /* font-size: 44px; */
  line-height: 40px;
  /* display: flex; */
  font-weight: 700;
  color: #E9C46A;
  margin: 0;
  /* margin-right: 60px; */
}

.curriculum .count-box .unit {
  /* display: flex; */
  /* font-size: 44px; */
  color: #E8E4B4;
  /* float: right; */
  line-height: 40px;
  margin: 0 15px;
}

.curriculum .count-box .school-name {
  /* display: flex; */
  font-size: 20px;
  color: #E8E4B4;
  /* float: right; */
  line-height: 20px;
  margin: 0 15px;
}

.curriculum .count-box p {
  padding: 15px 0 15px 0;
  margin: 0 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #E8E4B4;
}

.curriculum .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #E76F51;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.curriculum .count-box a:hover {
  color: #E76F51;
}





/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #E8E4B4;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #264653;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #E9C46A;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(38, 70, 83, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #E8E4B4;
  font-size: 28px;
  text-align: center;
  background: rgba(38, 70, 83, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(38, 70, 83, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #E76F51;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

.portfolio .link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* add your desired styles for the icon */
  font-size: 70px;
  font-weight: bold;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
}

.portfolio .portfolio-wrap:hover .link-icon {
  visibility: visible;
  /* background-color: #E9C46A; */
  opacity: 1;
  transition: all ease-in-out 1s;
}


mapDiv{
  /* width: 25%; */
  padding-bottom: 25%;
  position: relative;
}

innerMap{
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
.timeline .timeline-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #E76F51;
}

.timeline .timeline-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #2A9D8F;
  position: relative;
}

.timeline .timeline-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #E9C46A;
  margin-bottom: 10px;
}


.timeline .timeline-item h5 {
  font-size: 16px;
  background: #2A9D8F;
  color: #E8E4B4;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.timeline .timeline-item h6 {
  font-size: 16px;
  color: #E9C46A;
  padding: 0;
  /* display: block; */
  font-weight: 600;
  margin: 0;
}

.timeline .timeline-item ul {
  padding-left: 20px;
}

.timeline .timeline-item p {
  padding-left: 20px;
  display: block;
}

.timeline .timeline-item ul li {
  padding-bottom: 0px;
}

.timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #E76F51;
  border: 2px solid #2A9D8F;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #264653;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #E76F51;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}






.navbar {
    padding: 10px 0; /* Ajoute un padding vertical de 10px */
    justify-content: center; /* Centre le contenu horizontalement */
}

@media (min-width: 992px) {
    .navbar {
        justify-content: center; /* Centre le contenu horizontalement sur les grands écrans */
    }
}

.navbar-nav {
    align-items: center; /* Centre les éléments verticalement */
}

.bg-light {
    background-color: #2A9D8F !important;
}

body {
    background-color: #264653; /* Utilisez la couleur comme couleur de fond */
}

h1,h2{
    color: #E9C46A; /* Utilisez la couleur pour le texte des en-têtes */
}

h3{
    color: #E76F51; /* Utilisez la couleur pour le texte des en-têtes */
}

h4, h5, h6 {
    color: #2A9D8F; /* Utilisez la couleur pour le texte des en-têtes */
}

a {
    color: #E76F51; /* Utilisez la couleur pour les liens */
}

p {
    color: #E8E4B4; /* Utilisez la couleur pour le texte des paragraphes */
}
